div#results {
    background-color: #FFF;
    padding: 2rem;
}

div#results a:hover {
    transition: .3s;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(207,163,207,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(207,163,207,1);
    box-shadow: 4px 4px 5px 0px rgba(207,163,207,1);
    cursor: pointer;
}

div#results  a {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #000;
    color: #000;
//    border-radius: 5px;
}

div#results .movie {
    position: relative;
    background-color: #FFF;
}

div#results .movie .image {
    width: 14%;
    display: inline-block;
}

div#results .movie .image img {
    width: 100%;
}

div#results .movie .desc {
    display: inline-block;
    width: 86%;
    position: absolute;
    top: 0;
    padding: 0 .6rem;
}
