header {
    height: 6rem;
    padding: .2rem;
}

header .logo {
    width: 4rem;
}

header .user {
    width: 4rem;
    position: absolute;
    right: 0;
//    top: 0;
}

header button {
    position: absolute;
    left: 45%;
    top: 0;
}
